@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap");
.flickity-viewport {
    width: 100%
}

.flickity-prev-next-button {
    top: calc(100% + 10px);
    background: none !important
}

.flickity-prev-next-button svg {
    fill: #596477
}

.flickity-prev-next-button svg:focus {
    fill: #CC8E6A;
    background: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.flickity-prev-next-button svg:active {
    fill: #CC8E6A;
    background: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.flickity-prev-next-button.next {
    top: calc(100% - 5px);
    right: auto;
    left: 50px
}

body {
    font-family: "Inconsolata", monospace;
    color: #95A2BB;
    background: #292C33
}

.bold {
    font-weight: bold
}

h1 {
    font-size: 24px;
    margin: 16px 0 32px 0;
    line-height: 32px
}

p {
    font-size: 16px;
    line-height: 24px
}

hr {
    border: 1px dashed #95A2BB
}

#pills-tab .nav-item {
    margin: 32px 0 24px 0
}

#pills-tab .nav-item .nav-link {
    background: none;
    font-size: 24px;
    line-height: 24px;
    color: #5F6777;
    padding: 0px 20px 0px 0px
}

#pills-tab .nav-item:last-child {
    padding: 0px;
    margin-left: -8px
}

#pills-tab .nav-item .active {
    font-weight: bold;
    color: #ADB167;
    text-decoration: underline
}

.tab-content {
    min-height: 280px
}

#works .work-img {
    width: 100%;
    height: 216px;
    background: #58606E;
    margin: 16px 0
}

#repository {
    margin-bottom: 24px
}

#repository #carouselExampleControls {
    padding: 0 15px;
    margin-top: 32px
}

.btn-secondary {
    display: none;
    background: none;
    border: none;
    color: #596477;
    font-weight: bold;
    margin-bottom: 32px
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
    color: #ADB167;
    background-color: transparent !important;
    border-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none
}

.avatar {
    float: right;
    margin: 15px -15px 15px 32px
}

footer {
    margin-top: 16px;
    background: #191B22;
    height: 16px;
    width: 100%
}

a {
    color: #95A2BB
}

a:hover {
    color: #CC8E6A
}

.zoom {
    overflow: hidden;
    height: 128px;
    width: 128px;
    float: right
}

.zoom img {
    max-width: 100%;
    -webkit-transition: all 1s;
    transition: all 1s;
    margin-top: 0px;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.zoom img:hover {
    margin-top: 50px;
    -webkit-transform: scale(4);
    transform: scale(4)
}

@media screen and (min-width: 992px) {
    h1 {
        margin-top: 32px;
        font-size: 32px;
        line-height: 40px
    }
    hr {
        margin: 42px 0
    }
    .main-carousel {
        font-size: 24px;
        line-height: 24px
    }
    .work-img {
        padding: 32px
    }
    .work-img p {
        font-size: 16px;
        line-height: 24px
    }
    .btn-secondary {
        font-weight: bold;
        font-size: 32px;
        line-height: 24px;
        margin-bottom: 16px
    }
    .b-dashed {
        border-right: 1px dashed #95A2BB;
        min-height: 190px
    }
}

.c-pink {
    color: #A18CB4 !important
}

.c-pink-event:hover,
.c-pink-event:active,
.c-pink-event:focus {
    color: #A18CB4 !important
}

.bgc-pink {
    background-color: #A18CB4 !important
}

.bgc-pink-event:hover,
.bgc-pink-event:active,
.bgc-pink-event:focus {
    background-color: #A18CB4 !important
}

.bdc-pink {
    border-color: #A18CB4 !important
}

.bdc-pink-event:hover,
.bdc-pink-event:active,
.bdc-pink-event:focus {
    border-color: #A18CB4 !important
}

.c-black {
    color: #292C33 !important
}

.c-black-event:hover,
.c-black-event:active,
.c-black-event:focus {
    color: #292C33 !important
}

.bgc-black {
    background-color: #292C33 !important
}

.bgc-black-event:hover,
.bgc-black-event:active,
.bgc-black-event:focus {
    background-color: #292C33 !important
}

.bdc-black {
    border-color: #292C33 !important
}

.bdc-black-event:hover,
.bdc-black-event:active,
.bdc-black-event:focus {
    border-color: #292C33 !important
}

.c-grey {
    color: #95A2BB !important
}

.c-grey-event:hover,
.c-grey-event:active,
.c-grey-event:focus {
    color: #95A2BB !important
}

.bgc-grey {
    background-color: #95A2BB !important
}

.bgc-grey-event:hover,
.bgc-grey-event:active,
.bgc-grey-event:focus {
    background-color: #95A2BB !important
}

.bdc-grey {
    border-color: #95A2BB !important
}

.bdc-grey-event:hover,
.bdc-grey-event:active,
.bdc-grey-event:focus {
    border-color: #95A2BB !important
}

.c-white {
    color: #fff !important
}

.c-white-event:hover,
.c-white-event:active,
.c-white-event:focus {
    color: #fff !important
}

.bgc-white {
    background-color: #fff !important
}

.bgc-white-event:hover,
.bgc-white-event:active,
.bgc-white-event:focus {
    background-color: #fff !important
}

.bdc-white {
    border-color: #fff !important
}

.bdc-white-event:hover,
.bdc-white-event:active,
.bdc-white-event:focus {
    border-color: #fff !important
}

.c-ouro {
    color: #ADB167 !important
}

.c-ouro-event:hover,
.c-ouro-event:active,
.c-ouro-event:focus {
    color: #ADB167 !important
}

.bgc-ouro {
    background-color: #ADB167 !important
}

.bgc-ouro-event:hover,
.bgc-ouro-event:active,
.bgc-ouro-event:focus {
    background-color: #ADB167 !important
}

.bdc-ouro {
    border-color: #ADB167 !important
}

.bdc-ouro-event:hover,
.bdc-ouro-event:active,
.bdc-ouro-event:focus {
    border-color: #ADB167 !important
}